.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center; */
}
.tile {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100px;
}
.title-container {
  margin: 5%;
}
.title-divider {
  border-top: 1px solid black;
}
.title-divider-left {
    border-top: 1px solid black;
    width:75%
}
.title-text {
  font-size: 7rem;
  color: #e07559;
}
.profile-image {
  position: absolute;
  margin-top: -1%;
  width: 25%;
  height: 50%;
  z-index: 1;
  margin-left: 18%;
  border-radius: 50%;
}
.career-title {
  color: black;
  font-size: 40px;
}
.section {
  margin-top: 10%;
}
.section-title {
  color: #e07559;
  font-size: 32px;
  padding: 10px 0px 10px 0px;
}
.section-content {
  font-size: 28px;
  color: #343434;
  padding: 10px 0px 10px 0px;
}

.contact-info {
  padding: 10px 0px 10px 0px;
}

.branch-detail {
  font-size: 18px !important;
  padding: 10px 0px 10px 0px;
  color: #9c9a9a;
}
.section-container {
  width: 75%;
}
.section-title-right {
  position: absolute;
  color: #e07559;
  font-size: 32px;
  padding: 10px 10px 10px 20px;
  margin-top: 21%;
  width: 30%;
}

.section-content-right {
  position: absolute;
  font-size: 28px;
  padding: 10px 0px 10px 20px;
  margin-top: 23%;
  color: #343434;
  width: 30%;
}
.title-divider-right-top {
  border-top: 1px solid black;
  width: 75%;
  position: absolute;
  margin-top:-5px;
}
.title-divider-right-bottom {
    border-bottom: 1px solid black;
    width: 75%;
    position: absolute;
    margin-top:15px;
  }
.section-title-right-design {
    position: absolute;
    color: #e07559;
    font-size: 32px;
    padding: 10px 10px 10px 20px;
    margin-top: 39%;
    width: 30%;
  }
  
  .section-content-right-design {
    position: absolute;
    font-size: 28px;
    padding: 10px 0px 10px 20px;
    margin-top: 41%;
    color: #343434;
    width: 30%;
  }
  .section-title-right-soft {
    position: absolute;
    color: #e07559;
    font-size: 32px;
    padding: 10px 10px 10px 20px;
    margin-top: 55.5%;
    width: 30%;
  }
  
  .section-content-right-soft {
    position: absolute;
    font-size: 28px;
    padding: 10px 0px 10px 20px;
    margin-top: 58%;
    color: #343434;
    width: 30%;
  }

  .section-title-right-background {
      margin-top: 230%
  }
